<div class="container py-5">
  <div class="card shadow-sm border-0 rounded-4 p-4" style="background-color: #f2f3f5;">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2 class="fw-bold" style="color: #003366;">Mi Perfil</h2>
      
      <button type="button" (click)="toggleEdit()" class="btn" 
              [class.btn-outline-secondary]="editable" [class.btn-primary]="!editable"
              [style.background-color]="editable ? '' : ''" style="border: none;">
        <i class="bi" [class.bi-x-lg]="editable" [class.bi-pencil-square]="!editable"></i>
        {{ editable ? 'Cancelar' : 'Editar perfil' }}
      </button>
    </div>

    <form [formGroup]="profileForm" (ngSubmit)="saveProfile()" class="p-3">
      
      <h5 class="text-muted mb-3 border-bottom pb-2">
        <i class="bi bi-person-vcard me-2"></i>Información Personal
      </h5>
      <div class="row g-3 mb-4">
        <div class="col-md-6">
          <label class="form-label fw-bold" for="firstName">Nombre</label>
          <input type="text" formControlName="firstName" class="form-control form-control-lg" 
                [class.editable-input]="editable" id="firstName"
                [class.is-invalid]=" profileForm.controls['firstName'].invalid">
        </div>
        <div class="col-md-6">
          <label class="form-label fw-bold" for="lastName">Apellidos</label>
          <input type="text" formControlName="lastName" class="form-control form-control-lg"
                [class.editable-input]="editable" id="lastName"
                [class.is-invalid]=" profileForm.controls['lastName'].invalid">
        </div>
      </div>

      <h5 class="text-muted mb-3 border-bottom pb-2">
        <i class="bi bi-telephone me-2"></i>Contacto
      </h5>
      <div class="row g-3 mb-4">
        <div class="col-md-6">
          <label class="form-label fw-bold" for="telephone">Teléfono</label>
          <input type="text" formControlName="telephone" class="form-control form-control-lg"
                [class.editable-input]="editable" id="telephone" placeholder="Ej: 600123456">
          @if (profileForm.get('telephone')?.errors?.['pattern']) {
            <div class="text-danger small">
              Debe tener 9 números.
            </div>
          }
        </div>
        @if (userInfo.role==="SENIOR") {
          <div class="col-md-6">
            <label class="form-label fw-bold" for="contactPreference">Preferencia de contacto</label>
            <select formControlName="contactPreference" class="form-select form-select-lg"
                    [class.editable-input]="editable" id="contactPreference">
              <option value="TELEPHONE">Teléfono</option>      
              <option value="ONLINE_MEETING">Video Llamada</option>
              <option value="IN_PERSON">Presencial</option>
            </select>
          </div>
        }

      </div>

      <h5 class="text-muted mb-3 border-bottom pb-2">
        <i class="bi bi-geo-alt me-2"></i>Ubicación
      </h5>
      <div class="row g-3 mb-4">
        <div class="col-md-4">
          <label class="form-label fw-bold" for="city">Ciudad</label>
          <input type="text" formControlName="city" class="form-control form-control-lg"
                [class.editable-input]="editable" id="city">
        </div>
        <div class="col-md-4">
          <label class="form-label fw-bold" for="province">Provincia</label>
          <select formControlName="province" class="form-select form-select-lg" [class.editable-input]="editable">
            <option value="" disabled>Seleccione...</option>
            @for (item of provinces; track $index) {
              <option [value]="item">{{ item[0].toUpperCase() + item.slice(1).toLowerCase() }}</option>
            }
          </select>
        </div>
        <div class="col-md-4">
          <label class="form-label fw-bold" for="postalCode">Cód. Postal</label>
          <input type="text" formControlName="postalCode" class="form-control form-control-lg"
                [class.editable-input]="editable" id="postalCode">
        </div>
      </div>

      @if (this.userInfo.role === 'VOLUNTEER') {
        <div>
          <h5 class="text-muted mb-3 border-bottom pb-2">
            <i class="bi bi-star me-2"></i>Habilidades y Especialidades
          </h5>
          <div class="d-flex flex-wrap gap-2 mb-3">

            @for (item of specialitiesList; track $index) {
              <div class="badge rounded-pill bg-primary d-flex align-items-center p-2 px-3 shadow-sm"
                style="background-color: #8EBFFB !important; color: #003366; font-size: 0.9rem;">
                  {{ item }}
              @if(editable){
                <button type="button" (click)="removeSpecialty($index)" 
                      class="btn-close btn-close-white ms-2" style="font-size: 0.6rem;"></button>
              }
              </div>
            }
          </div>

          @if (editable) {
            <div class="input-group mb-3">
              <input type="text" [(ngModel)]="newSpeciality" [ngModelOptions]="{standalone: true}"
                    class="form-control" placeholder="Ej: Configurar móvil, Compras...">
              <button class="btn btn-outline-primary" type="button" (click)="addSpecialty()">
                <i class="bi bi-plus-lg"></i> Añadir
              </button>
            </div>
          }
        </div>
      }

      @if (editable) {
        <div class="text-center mt-5">
          <button
          type="submit" class="btn btn-success btn-lg px-5 py-3 rounded-pill shadow fw-bold">
            <i class="bi bi-check-lg me-2"></i>Guardar Cambios
          </button>
        </div>
      }
    </form>
  </div>
</div>