<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" (click)="goToPrevious()" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    @for (item of pageNumbers; track $index) {
      <li class="page-item">
        <a class="page-link" [ngClass]="{'active': currentPage === item}" (click)="goToPage(item)">{{ item }}
        </a>
      </li>
    }
    <li class="page-item">
      <a class="page-link" (click)="goToNext()" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav> 
